In [1]:
import pandas as pd
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = sns.load_dataset("titanic")
df =df.drop("deck", axis=1)

In [5]:
df.head()

   survived  pclass     sex   age  ...  adult_male  embark_town  alive  alone
0         0       3    male  22.0  ...        True  Southampton     no  False
1         1       1  female  38.0  ...       False    Cherbourg    yes  False
2         1       3  female  26.0  ...       False  Southampton    yes   True
3         1       1  female  35.0  ...       False  Southampton    yes  False
4         0       3    male  35.0  ...        True  Southampton     no   True

[5 rows x 14 columns]

In [6]:
df= df.dropna()

In [7]:
from pandas.api.types import is_numeric_dtype

In [9]:
from sklearn.preprocessing import LabelEncoder
le= LabelEncoder()

In [10]:
for col in df.columns:
    if is_numeric_dtype(df[col]):
        continue
    else:
        df[col]= le.fit_transform(df[col])

In [11]:
df["adult_male"]= df["adult_male"].astype("int64")
df["alone"]= df["alone"].astype("int64")

In [12]:
df.head()

   survived  pclass  sex   age  ...  adult_male  embark_town  alive  alone
0         0       3    1  22.0  ...           1            2      0      0
1         1       1    0  38.0  ...           0            0      1      0
2         1       3    0  26.0  ...           0            2      1      1
3         1       1    0  35.0  ...           0            2      1      0
4         0       3    1  35.0  ...           1            2      0      1

[5 rows x 14 columns]

In [13]:
x = df.drop(["survived"], axis=1)
y = df["survived"]

In [14]:
dt = DecisionTreeClassifier()

In [15]:
model= dt.fit(x,y)

In [16]:
model.score(x,y)

1.0

In [17]:
import pickle
with open("model.pkl", "wb") as file:
    pickle.dump(model, file)